@CHARSET "ISO-8859-1";

window {
	margin: 0;
	color: white;
	background-color: black;
	font-family: monospace;
	font-size: 12pt;
	font-weight: bold;
}

#apis {
	-moz-box-align: center;
	margin-top: 10px;
	margin-left: 10px;
}

#content {
	padding: 10px;
	overflow: auto;	
}

grid {
	margin-bottom: 10px;
}

column {
	margin: 0px;
	padding: 0px;
}

row {
	-moz-box-align: center;
	padding: 2px;
}

vbox.border2 {
	padding: 10px;
}

description.timeleftpct {
	color: gray;
}